<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnWarning="false"
         failOnRisky="false">
    
    <testsuites>
        <testsuite name="MDM Sync Engine Test Suite">
            <directory>tests</directory>
        </testsuite>
        
        <testsuite name="Unit Tests">
            <file>tests/SafeSyncEngineTest.php</file>
            <file>tests/FallbackDataProviderTest.php</file>
            <file>tests/DataTypeNormalizerTest.php</file>
        </testsuite>
        
        <testsuite name="Integration Tests">
            <file>tests/SyncIntegrationTest.php</file>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
    </coverage>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <const name="DB_HOST" value="localhost"/>
        <const name="DB_PORT" value="3306"/>
        <const name="DB_NAME" value="test_db"/>
        <const name="DB_USER" value="test_user"/>
        <const name="DB_PASSWORD" value="test_password"/>
        <const name="LOG_DIR" value="/tmp"/>
        <const name="OZON_CLIENT_ID" value="test_client_id"/>
        <const name="OZON_API_KEY" value="test_api_key"/>
        <const name="OZON_API_BASE_URL" value="https://api-seller.ozon.ru"/>
    </php>
    
    <logging>
        <junit outputFile="test-results/junit.xml"/>
        <testdoxHtml outputFile="test-results/testdox.html"/>
        <testdoxText outputFile="test-results/testdox.txt"/>
    </logging>
</phpunit>
